<% provide(:body_class, 'hold-transition login-page') %>
<div class="login-box">
  <div class="login-logo">
    <%= link_to(root_path) do %>
      <b>WorldPublico</b>
    <% end %>
  </div>
  <div class="login-box-body">
    <p class="login-box-msg">Login to your account</p>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
      <div class="mt10">
        <%= devise_error_messages! %>
      </div>
      <div class="social-auth-links text-center">
        <% resource_class.omniauth_providers.each do |provider| %>
          <%= link_to omniauth_authorize_path(resource_name, provider), class: "btn btn-block btn-social btn-flat btn-#{provider}" do %>
            <i class="fa fa-<%= provider %>"></i><%= "Log in using #{OmniAuth::Utils.camelize(provider)}" %>
          <% end %>
        <% end %>
        <p>- OR -</p>
      </div>
      <div class="col-xs-12">
        <div class="form-group has-feedback">
          <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email' %>
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password' %>
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <% if devise_mapping.rememberable? %>
          <div class="form-group">
            <div class="col-xs-8">
              <div class="checkbox icheck">
                <label>
                  <%= f.check_box :remember_me %>
                  Remember Me
                </label>
              </div>
            </div>
            <div class="col-xs-4 pad0">
              <%= f.submit "Log In", class: 'btn btn-primary btn-block btn-flat pull-right'%>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
    <a data-no-turbolink="true" href="<%= new_user_password_path %>">Forgot Password?</a>
    <br>
    <a class="text-center" data-no-turbolink="true" href="<%= new_user_registration_path %>">Create a new account</a>
    </br>
  </div>
</div>
