<!-- Page Loader -->
<div class="preloader">
    <div id="loaderImage"></div>
</div>
<header id="navigation">
  <div class="navbar animated fadeIn navbar-fixed-top" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="<%= root_path %>">
          <h1>
            <%= image_tag 'landing/logo.png', alt: 'logo', class: 'img-responsive' %>
          </h1>
        </a>                    
      </div>  
      <nav class="collapse navbar-collapse navbar-right">         
        <ul class="nav navbar-nav">
          <!-- <li><a href="<%= root_path %>"><span>Home</span></a></li>   -->
          <% if user_signed_in?%>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <span>Logout</span>
              <% end %>
            </li>
          <% else %>
            <li class="active">
              <%= link_to user_session_path do %>
                <span>Login</span>
              <% end %>
            </li>
            <li class="active">
              <%= link_to user_registration_path do %>
                <span>SignUp</span>
              <% end %>
            </li>
          <% end %>        
        </ul>         
      </nav>
      <div class="search">
        <form role="form">
          <i class="fa fa-search"></i>
          <div class="field-toggle">
            <input type="text" class="search-form" autocomplete="off" placeholder="Search">
          </div>
        </form>
      </div>
    </div>
  </div>
</header><!--/#navigation--> 