<!DOCTYPE html>
<html class="no-js css-menubar" lang="es">
  <head>
    <title>Worldpublico</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': false %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': false %>
  </head>

  <body class="<%= body_class(yield(:body_class)) %>">
    <div class="wrapper">
      <% unless user_signed_in? %>
        <%= yield %>
      <% else %>
        <%= render partial: "layouts/partials/header" %>
        <div class="content-wrapper user-wrapper">
          <div class="channel_sidebar_mobile">
            <%= render partial: 'layouts/sidebar/right_sidebar_mobile' %>
          </div>
          <div class="">
            <%= yield %>
          </div>
        </div>
        <div class="channel_sidebar">
          <%= render partial: 'layouts/sidebar/right_sidebar' %>
        </div>
      <% end %>
    </div>
    
  </body>
</html>
